body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.link {
    color: inherit;
    text-decoration: inherit;

}

.list-image {
    margin-top: 10px;
}

.list-image img {
    width: 100px;
    height: auto;
}

.image-book {
    width: 100px;
    height: auto;
}

.list-name{
    text-align:center;
    font-weight:bold;
}

.title-center{
    text-align:center;
}

.margin-top{
    margin-top:20px;
}

.author-name{
    text-align:center;
    font-style:italic;
}

.link-author-details {
    color: inherit;
    text-decoration: inherit;
    font-size:18px;
    font-weight:bold;
}

.font-size{
    text-align:center;
    font-size:18px;
    font-style:italic;
}




