@model IEnumerable<BookReviewApp.Models.Book>

@{
    ViewBag.Title = "Spis książek";
}

<h2>Wszystkie książki</h2>



@using (Ajax.BeginForm(new AjaxOptions
{
    Url = Url.Action("BookList", "Books"),
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "BooksList"
}))
{
<div class="form-group form-inline">
    <input type="text" name="search" class="form-control" placeholder="Tytuł książki" />
    <select name="id" class="form-control">
        <option value="" selected>Wybierz autora</option>
        @foreach (var author in ViewBag.Authors)
        {
            <option value="@author.AuthorId">@author.Name @author.Surname</option>

        }
    </select>
    <input type="submit" value="Szukaj" class="btn btn-primary" />
</div>
}

<div id="BooksList">
    @Html.Action("BookList", "Books")
</div>
