@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Books.com</h1>
    <p class="lead">Serwis poświęcony książkom</p>
</div>

<div class="row">
    <div class="col-md-6  margin-top">
        <a href="/Books" class="link">
            <figure>
                <img src="https://cdn.pixabay.com/photo/2016/02/16/21/07/books-1204029_960_720.jpg" style="width: 100%; height: auto;" />
                <figcaption class="title-center" style="font-size:18px; font-style:italic;">Książki &raquo;</figcaption>
            </figure>
        </a>
    </div>
    <div class="col-md-6  margin-top">
        <a href="/Authors" class="link">
            <figure>
                <img src="https://cdn.pixabay.com/photo/2015/09/05/07/28/writing-923882_960_720.jpg" style="width: 100%; height: auto;" />
                <figcaption class="title-center" style="font-size:18px; font-style:italic;">Autorzy &raquo;</figcaption>
            </figure>
        </a>
    </div>

</div>