@model IEnumerable<BookReviewApp.Models.Author>

@{
    ViewBag.Title = "Autorzy";
}

<center><h2>Autorzy</h2></center>





        <div class="container">
            
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 " style=" margin-top: 10px; ">
                                <a href="/Authors/Details/@item.AuthorId">
                                    <center> <img src="@item.Photo" style="width: 100px; height: auto;" /></center>
                                </a>
                        </div>
                        <div class="col-xs-12 col-sm-8" style="margin-top:10px">
                            <center><p><b>@item.Name @item.Surname</b></p></center>
                            <p>@item.Description</p>
                        </div>
                    </div>
                    <hr>
                 }
        </div>
       
