@model IEnumerable<BookReviewApp.Models.Author>

@{
    ViewBag.Title = "Autorzy";
}

<h2 class="title-center">Autorzy</h2>








@using (Ajax.BeginForm(new AjaxOptions
{
    Url = Url.Action("AuthorList", "Authors"),
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ListaAutorow"
}))
{
    <div class="form-group form-inline title-center">
        <input type="text" name="search" class="form-control" placeholder="Podaj autora" />
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    </div>
}

<div id="ListaAutorow">
    @Html.Action("AuthorList", "Authors")
</div>